.main-friends, .main-friends-data{
    width: 15rem;
}

.main-friends-data{
    background-color: #EFEFEF;
}

.friend-pic img{
    height: 4em;
    width: 4em;
    border-radius: 1em;
}

.friend-name{
    font-size: .9em;
}

.friend-design{
    font-size: .75em;
}

.friend-btn{
    background: #20C2CC;
    font-size: .8em;
}

.friend-cont{
    position: relative;
    top: -3px;
}